[submodule "AVNUtilLibs/Socket"]
	path = AVNUtilLibs/Socket
	url = git@github.com:craigtong/Socket.git
[submodule "AVNUtilLibs/DataStructures"]
	path = AVNUtilLibs/DataStructures
	url = git@github.com:craigtong/DataStructures.git
[submodule "AVNAppLibs/SocketStreamers"]
	path = AVNAppLibs/SocketStreamers
	url = git@github.com:craigtong/SocketStreamers.git
