[submodule "AVNUtilLibs/Socket"]
	path = AVNUtilLibs/Socket
	url = ssh://git@brains/gitRepos/CPP/AVNUtilLibs/Socket.git
[submodule "AVNUtilLibs/DataStructures"]
	path = AVNUtilLibs/DataStructures
	url = ssh://git@brains/gitRepos/CPP/AVNUtilLibs/DataStructures.git
[submodule "AVNAppLibs/SocketStreamers"]
	path = AVNAppLibs/SocketStreamers
	url = ssh://git@brains/gitRepos/CPP/AVNAppLibs/SocketStreamers.git
