[Unit]
Description=Roach Acquisition Server

[Service]
ExecStart=/usr/bin/RoachAcquisitionServer -v catseye
Restart=on-failure
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
