[Unit]
Description=Roach Acquisition Server

[Service]
ExecStart=/usr/bin/RoachAcquisitionServer -v catseye -g /home/avnuser/AVNSoftware/RoachLaunchers -t optimus -u 1234
Restart=on-failure
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
